/* productcard.css */
.product-container-outer-layer {
    border: 2px solid black;
    border-radius: 30px;
    width: auto;
    transition: box-shadow 0.3s ease; /* Adding transition for hover effect */
}
styles.css

body {
    font-family: 'Comfortaa', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(197, 219, 197);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    border: 1px solid grey;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  
  .center {
    text-align: center;
  }
  
  .heading {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .table-container {
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid grey;
    border-radius: 15%;
  }
  
  .table-container th,
  .table-container td {
    border: 1px solid grey;
    padding: 10px;
    text-align: left;
  }
  
  .table-container th {
    font-weight: bold;
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .input-field {
    border: 1px solid grey;
    
    padding: 25px;
    height: 100%;
  }
  
  .add-button,
  .remove-button {
    background-color: lightgreen;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: darkgreen;
  }
  
  .remove-button {
    background-color: lightcoral;
  }
  
  .remove-button:hover {
    background-color: darkred;
  }
  
.product-container {
    padding: 20px;
}

.product-container-outer-layer:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Subtle box-shadow on hover */
}

.product-image img {
    max-width: 200px;
    max-height: 200px;
}

.product-name {
    font-weight: bold;
    color: black;
}

.product-description {
    color: #333; /* Light ordinary text color */
}

.input-field {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    display: flexbox;
    width: 100%; /* To fill the entire cell width */
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.action-button {
    background-color: lightgreen;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #a1dca1; /* Darker shade on hover */
}

.product-details{
   padding-left: 20px;
}
